<script>
  const isTouchDevice = 'ontouchstart' in window || navigator.maxTouchPoints > 0;
  const preferesReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

  if (!isTouchDevice && !preferesReducedMotion) {
    const circle: HTMLElement = document.querySelector('#mouse-circle')!;

    const CIRCLE_RADIUS = 10;
    const TRAIL_SPEED = 5;

    let circleX: number = window.innerWidth / 2 - CIRCLE_RADIUS;
    let circleY: number = window.innerHeight / 2 - CIRCLE_RADIUS;
    let cursorX: number = window.innerWidth / 2;
    let cursorY: number = window.innerHeight / 2;

    function moveCircle(
      x: number,
      y: number,
      width: number = CIRCLE_RADIUS * 2,
      height: number = CIRCLE_RADIUS * 2,
      radius: number | string = CIRCLE_RADIUS * 2,
      zIndex: string = '999',
    ) {
      circle.style.setProperty('--circle-x', `${x}px`);
      circle.style.setProperty('--circle-y', `${y}px`);
      circle.style.setProperty('--circle-width', `${width}px`);
      circle.style.setProperty('--circle-height', `${height}px`);
      circle.style.setProperty(
        '--circle-radius',
        typeof radius === 'string' ? radius : `${radius}px`,
      );
      circle.style.setProperty('--circle-z-index', zIndex);
    }

    function traverseZIndex(target: Element): string {
      let zIndex = window.getComputedStyle(target).zIndex;
      while (zIndex === 'auto' && target.parentElement) {
        target = target.parentElement;
        zIndex = window.getComputedStyle(target).zIndex;
      }
      return zIndex;
    }

    function updateCircle() {
      let target = document.elementFromPoint(cursorX, cursorY);
      while (target) {
        if (target.tagName === 'A' || target.role === 'button') {
          break;
        }
        target = target.parentElement;
      }

      if (target) {
        circle.classList.add('hovering');

        if (target.hasAttribute('data-trail-cursor')) {
          const rect = target.getBoundingClientRect();

          const paddingData = target.getAttribute('data-trail-cursor-padding');
          const padding = paddingData !== null ? Number(paddingData ? paddingData : 8) : 0;

          const radius = window.getComputedStyle(target).borderRadius;

          let zIndex = traverseZIndex(target);

          circleX += (rect.left - padding - circleX) / TRAIL_SPEED;
          circleY += (rect.top - padding - circleY) / TRAIL_SPEED;

          moveCircle(
            circleX,
            circleY,
            rect.width + padding * 2,
            rect.height + padding * 2,
            radius,
            zIndex,
          );
        } else {
          circle.style.display = 'none';
        }
      } else {
        circle.classList.remove('hovering');

        circleX += (cursorX - CIRCLE_RADIUS - circleX) / TRAIL_SPEED;
        circleY += (cursorY - CIRCLE_RADIUS - circleY) / TRAIL_SPEED;
        moveCircle(circleX, circleY);
      }

      requestAnimationFrame(updateCircle);
    }
    requestAnimationFrame(updateCircle);

    document.documentElement.addEventListener('mouseenter', (e) => {
      cursorX = e.clientX;
      cursorY = e.clientY;
      circleX = cursorX - CIRCLE_RADIUS;
      circleY = cursorY - CIRCLE_RADIUS;
      // on enter, move the circle to where the cursor is
      moveCircle(circleX, circleY);
      circle.style.display = 'block';
    });
    document.documentElement.addEventListener('mousemove', (e) => {
      cursorX = e.clientX;
      cursorY = e.clientY;
      circle.style.display = 'block';
    });
    document.documentElement.addEventListener('mouseleave', () => {
      circle.style.display = 'none';
    });
  }
</script>

<div id="mouse-circle"></div>
