---
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import '~/styles/main.css';
import '@unocss/reset/tailwind.css';
import ScrollUp from '~/components/ScrollUp.astro';
import TrailingCursor from '~/components/TrailingCursor.astro';

import sharp from 'sharp';
import ogTemplateRaw from '@public/og-template.svg?raw';

import '@unocss/reset/tailwind.css';

interface Props {
  title?: string;
  description?: string;
  class?: string;
  showFooterGoBack?: boolean;
  backUrl?: string;
}
const { title, class: className, showFooterGoBack, backUrl, description } = Astro.props;

const sluggifiedTitle = title?.replace(' ', '-').toLowerCase();
const ogFileName = `${sluggifiedTitle ?? 'og'}.png`;
const ogImage = `https://thabtsassi.me/og/${ogFileName}`;

const finalTitle = `${title ? title + ' - ' : ''}Thabt Sassi`;
const finalDescription = description ?? "Thabt Sassi's Portfolio";

if (import.meta.env.PROD) {
  // breakline every 30 chars
  // https://github.com/antfu/antfu.me/blob/e1c316863c2cf8d649274b872a3229e971c505b5/vite.config.ts#L247
  /* 	const lines = (title ?? "an open source enthusiast")
		.split(/(.{0,30})(?:\s|$)/g)
		.filter(Boolean);
	const ogTemplate = ogTemplateRaw
		.replace("{{line1}}", lines[0] ?? "")
		.replace("{{line2}}", lines[1] ?? "");
	const ogTemplateBuffer = Buffer.from(ogTemplate);
	const filePath = `public/og/${ogFileName}`;

	console.log(`\nGenerating ${filePath}\n`);
	try {
		await sharp(ogTemplateBuffer).resize(1200, 675).png().toFile(filePath);
	} catch (e) {
		console.error("Failed to generate og image", e);
	} */
}
---

<script>
  // transitions are disabled by default on loading using `preload` class
  // once the page is loaded i.e dark/light mode have applied
  window.addEventListener('DOMContentLoaded', () =>
    setTimeout(() => document.documentElement.classList.remove('preload'), 100),
  );
</script>

<html lang="en" class="preload">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="author" content="Thabt Sassi" />

    <title>{finalTitle}</title>
    <meta property="og:title" content={finalTitle} />
    <meta name="twitter:title" content={finalTitle} />
    <meta name="description" content={finalDescription} />
    <meta property="og:description" content={finalDescription} />
    <meta name="twitter:description" content={finalDescription} />
    <meta property="og:image" content={ogImage} />
    <meta name="twitter:image" content={ogImage} />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="revisit-after" content="15 days" />

    <meta name="theme-color" content="#050505" />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="w-100dvw h-100dvh color-dark dark:color-light flex flex-col">
    <Header />

    <main id="main-content" class="py-10 px-7" class:list={className}>
      <slot />

      <Footer showFooterGoBack={showFooterGoBack} backUrl={backUrl} />
    </main>

    <ScrollUp />

    <TrailingCursor />
  </body>
</html>

